<div ng-init="init()" ng-controller="clienteController">
    <div>
        <h1>Clientes</h1>
        <table>
            <tr>
                <td>Nombre de Usuario</td>
                <td><input name="nombre" type="text" ng-model="nombre" /></td>
                <td><button type="button" ng-click="saludo()">Saludame</button></td>
                <label>{{saludoText}}</label>
            </tr>
            </br>
            <tr>
                <td width="40%">Nombre</td>
                <td width="40%">Apellido</td>
            </tr>
            <tr ng-repeat="cliente in clientes">
                <td width="40%">
                    {{cliente.nombre}}
                </td>
                <td width="40%">
                    {{cliente.apellido}}
                </td>
            </tr>
        </table>
    </div>

</div>